<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragments::head">
	<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<!-- Start Main Top -->
	<div th:replace="fragments::main-top">
	</div>
	<!-- End Main Top -->

	<!-- Start Main Top -->
	<header class="main-top">
		<div th:replace="fragments::main-header"></div>
		<!-- Start Navigation -->

	</header>
	<!-- End Main Top -->

	<!-- Start Top Search -->
	<div th:replace="fragments::top-search">
	</div>
	<!-- End Top Search -->

	<!-- Start Slider -->
	<div th:replace="fragments::slider">
	</div>
	<!-- End All Title Box -->

	<!-- Start Cart  -->
	<div class="cart-box-main">
		<div th:if="${success}" class="text-center alert alert-success">
			<p th:text="${success}"></p>
		</div>
		<div class="container">
			<div class="row">

				<div class="col-sm-6 col-lg-6 mb-3">

					<div class="checkout-address">
						<div th:if="${firstName} != null">
							<div class="title-left">
								<h3>Địa chỉ giao hàng</h3>
							</div>
							<div class="mb-3">
								<label for="username">Tên </label>
								<div class="input-group">
									<p type="text" class="form-control" th:text="${firstName}"></p>

								</div>
							</div>
							<div class="mb-3">
								<label for="username">Họ</label>
								<div class="input-group">
									<p type="text" class="form-control" th:text="${customer.lastName}"></p>
								</div>
							</div>
							<div class="mb-3">
								<label for="phone">Số điện thoại </label>
								<p type="phone" class="form-control" id="phone" placeholder=""
									th:text="${customer.phoneNumber}"></p>
							</div>
							<div class="mb-3">
								<label for="address">Địa chỉ </label>
								<p type="text" class="form-control" id="address" placeholder=""
									th:text="${customer.address}"></p>
							</div>
							<div class="title-left" th:if="${firstName} == null">
								<h3>Địa chỉ giao hàng</h3>
							</div>
						</div>
						<form class="needs-validation" novalidate th:if="${firstName} == null" th:action="@{/addInfo}"
							method="post" th:object="${customer}">

							<div class="mb-3">
								<label for="username">Họ *</label>
								<div class="input-group">
									<input type="text" class="form-control" id="lastName" placeholder="" required
										th:field="*{lastName}">
									<div class="invalid-feedback" style="width: 100%;"> Vui lòng nhập họ của bạn.
									</div>
								</div>
							</div>
							<div class="mb-3">
								<label for="username">Tên *</label>
								<div class="input-group">
									<input type="text" class="form-control" id="firstName" placeholder="" required
										th:field="*{firstName}">
									<div class="invalid-feedback" style="width: 100%;"> Vui lòng nhập tên của bạn.
									</div>
								</div>
							</div>
							<div class="mb-3">
								<label for="phone">Số điện thoại *</label>
								<input type="text" class="form-control" id="phone" placeholder=""
									th:field="*{phoneNumber}">
								<div class="invalid-feedback"> Vui lòng nhập số điện thoại của bạn.
								</div>
							</div>
							<div class="mb-3">
								<label for="address">Địa chỉ *</label>
								<input type="text" class="form-control" id="address" placeholder="" required
									th:field="*{address}">
								<div class="invalid-feedback"> Vui lòng nhập địa chỉ của bạn. </div>
							</div>
							<hr class="mb-4">
							<div class="title"> <span>Phương thức thanh toán</span> </div>
							<div class="d-block my-3">
								<div class="custom-control custom-radio">
									<input id="credit" name="paymentMethod" type="radio" class="custom-control-input"
										checked required>
									<label class="custom-control-label" for="credit">Thẻ ngân hàng</label>
								</div>
								<div class="custom-control custom-radio">
									<input id="debit" name="paymentMethod" type="radio" class="custom-control-input"
										required>
									<label class="custom-control-label" for="debit">Tiền mặt</label>
								</div>
							</div>
							<div class="byBank">
								<div class="row">
									<div class="col-md-6 mb-3">
										<label for="cc-name">Tên chủ thẻ</label>
										<input type="text" class="form-control" id="cc-name" placeholder="" required>
										<small class="text-muted">Họ và tên chủ thẻ</small>
										<div class="invalid-feedback"> Vui lòng nhập tên chủ thẻ. </div>
									</div>
									<div class="col-md-6 mb-3">
										<label for="cc-number">Số thẻ</label>
										<input type="text" class="form-control" id="cc-number" placeholder="" required>
										<div class="invalid-feedback"> Vui lòng nhập số thẻ. </div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 mb-3">
										<label for="cc-expiration">CVV</label>
										<input type="text" class="form-control" id="cc-cvv" placeholder="" required>
										<div class="invalid-feedback"> Vui lòng nhập mã bảo mật </div>
									</div>
								</div>
							</div>
							<hr class="mb-1">
							<div class="col-12 d-flex shopping-box"> <input type="submit" value="Cập nhật"
									class="ml-auto btn hvr-hover">
							</div>
						</form>
					</div>
				</div>
				<div class="col-sm-6 col-lg-6 mb-3">
					<div class="col-md-12 col-lg-12">
						<div class="odr-box">
							<div class="title-left">
								<h3>Giỏ hàng</h3>
							</div>
							<div class="rounded p-2 bg-light" th:each="cartItem : ${shoppingCart.cartItem}">
								<div class="media mb-2 border-bottom">
									<div class="media-body"> <a href="product-detail.html"
											th:text="${cartItem.product.name}"></a>
										<div class="small text-muted"><span
												th:inline="text">[[${#numbers.formatDecimal(cartItem.product.costPrice,
												0, 'COMMA',
												0,
												'POINT')}]] ₫</span> <span class="mx-2">|</span> Số lượng:<span
												th:text="${cartItem.quantity}"></span>
											<span class="mx-2">|</span> <span
												th:inline="text">[[${#numbers.formatDecimal(cartItem.totalPrice,
												0, 'COMMA',
												0,
												'POINT')}]] ₫</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-lg-12">
						<div class="order-box">
							<div class="title-left">
								<h2><b>Đơn hàng</b></h2>
							</div>
							<div class="d-flex">
								<div class="font-weight-bold">Sản phẩm</div>
								<div class="ml-auto font-weight-bold">Thành tiền</div>
							</div>
							<hr class="my-1">
							<div class="d-flex">
								<h4>Tổng cộng</h4>
								<div class="ml-auto font-weight-bold"><span
										th:inline="text">[[${#numbers.formatDecimal(subTotal,
										0, 'COMMA',
										0,
										'POINT')}]] ₫</span></div>
							</div>
							<div class="d-flex">
								<h4>Giảm giá</h4>
								<div class="ml-auto font-weight-bold"><span
										th:inline="text">[[${#numbers.formatDecimal(discount,
										0, 'COMMA',
										0,
										'POINT')}]] ₫</span> </div>
							</div>
							<hr class="my-1">
							<div class="d-flex">
								<h4>Mã giảm giá</h4>
								<div class="ml-auto font-weight-bold"> 0₫ </div>
							</div>
							<div class="d-flex">
								<h4>Phí vận chuyển</h4>
								<div class="ml-auto font-weight-bold"> Miễn phí </div>
							</div>
							<hr>
							<div class="d-flex gr-total">
								<h5>Tổng tiền</h5>
								<div class="ml-auto h5"> <span
										th:inline="text">[[${#numbers.formatDecimal(shoppingCart.totalPrices,
										0, 'COMMA',
										0,
										'POINT')}]] ₫</span> </div>
							</div>
							<hr>
						</div>
					</div>
					<div class="col-12 d-flex shopping-box"> <a th:href="@{/placeOrder}"
							class="ml-auto btn hvr-hover">Đặt hàng</a>
					</div>
				</div>
			</div>
		</div>

	</div>
	</div>
	<!-- End Cart -->

	<!-- Start Feed  -->
	<!-- Start Feed  -->
	<div th:replace="fragments::instagram-box">
	</div>

	<!-- End Feed  -->
	<!-- Start Footer  -->
	<footer th:replace="fragments::footer">
	</footer>


	<!-- ALL JS FILES -->
	<div th:replace="fragments::script"></div>
	<script th:src="@{/js/paymentMethod.js}"></script>
</body>

</html>