<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: header">
</head>

<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">
		<!-- Sidebar -->
		<ul th:replace="fragments :: sidebar">
		</ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav th:replace="fragments :: topbar"></nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">
					<!-- Page Heading -->
					<div th:if="${size == 0}">
						<p>Chưa có đơn hàng nào</p>
					</div>
					<div th:if="${success}" class="text-center alert alert-success">
						<p th:text="${success}"></p>
					</div>
					<div th:if="${error}" class="text-center alert alert-danger">
						<p th:text="${error}"></p>
					</div>
					<div th:if="${check}" class="text-center alter-warning">
						<p th:text="${check}"></p>
					</div>
					<div class="table-main table-responsive" th:if="${check}==null">

						<table class="table">
							<thead>
								<tr>
									<th>Tên khách hàng</th>
									<th>Thời điểm đặt hàng</th>
									<th>Địa chỉ giao hàng</th>
									<th>Tổng tiền</th>
									<th>Trạng thái</th>
									<th>Chuyển trạng thái</th>
									<th>Chi tiết</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="order : ${orders}">
									<td class="thumbnail-img">
									<a th:href="@{/customer/{id} (id = ${order.id})}" >
										<p th:text="${order.customer.firstName}" class="btn btn-info m-2"></p>
									</a>
									</td>
									<td class="name-pr">
										<p th:text="${order.orderDate}"></p>
									</td>
									<td>
										<p th:text="${order.customer.address}"></p>
									</td>
									<td class="price-pr">
										<p><span th:inline="text">[[${#numbers.formatDecimal(order.totalPrice,
												0, 'COMMA',
												0,
												'POINT')}]] ₫</span></p>
									</td>
									<td class="quantity-box">
										<p th:text="${order.orderStatus}"></p>
									</td>
									<td>
										<a th:if="${order.orderStatus == 'Đơn hàng của bạn đang được chuẩn bị.'}"
											th:href="@{/shipping/{id} (id = ${order.id})}" class="btn btn-warning">Đã
											chuẩn bị xong</a>
										<a th:if="${order.orderStatus == 'Đơn hàng đang được vận chuyển.'}"
											th:href="@{/done/{id} (id = ${order.id})}" class="btn btn-danger">Đã giao
											xong</a>
										<a th:if="${order.orderStatus == 'Đơn hàng đã hoàn thành.'}"
											class="btn btn-success"><i class="fa-solid fa-check"></i></a>
									</td>
									<td>
										<a th:href="@{/view/{id} (id = ${order.id})}"
											class="btn btn-dark m-2">Xem</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- /.container-fluid -->

				</div>
				<!-- End of Main Content -->

				<!-- Footer -->
				<footer th:replace="fragments :: footer">
				</footer>
				<!-- End of Footer -->

			</div>
			<!-- End of Content Wrapper -->

		</div>
		<!-- End of Page Wrapper -->

		<!-- Scroll to Top Button-->
		<a th:replace="fragments :: scroll">
		</a>

		<!-- Logout Modal-->

		<!-- Bootstrap core JavaScript-->
		<div th:replace="fragments :: script"></div>
		<script th:src="@{/js/categories.js}"></script>

</body>

</html>